@font-face {
    font-family: 'Poppins';
    src: url('assets/Fonts/ttf/Poppins-Light.ttf'); format('ttf');
    src: url('assets/Fonts/WOFF/Poppins-Light.woff'); format('woff');
    font-weight: 300;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/Fonts/ttf/Poppins-Medium.ttf');
    format('ttf');
    src: url('assets/Fonts/WOFF/Poppins-Medium.woff'); format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/Fonts/ttf/Poppins-Regular.ttf'); format('ttf');
    src: url('assets/Fonts/WOFF/Poppins-Regular.woff'); format('woff');
    font-weight: 500;
}

* {
    font-family: "Poppins",sans-serif;
    color: #333533;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: #fafafa;
}

h2 {
    font-weight: 300;
}

.header {
    background-color: #333533;
    height: 376px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 0 50px;
}

.header .title h1 {
    color: #ffd100;
    font-size: 64px;
    margin: 0px;
    line-height: 0.5;
}

.header .position {
    color: #fafafa;
    font-size: 32px;
    line-height: 57px; 
    margin: 40px 0px;
}

.header .button {
    color: #ffd100;
    font-size: 16px;
    border: 1px solid #ffd100;
    border-radius: 4px;
    padding: 8px 24px;
    display: inline-block;
}

.header .language{
    color: #fafafa;
    font-size: 16px;
    border: 1px solid #fafafa;
    border-radius: 4px;
    padding: 8px 24px;
}

.header img {
    height: 290px;
    width: 290px;
    border-radius: 50%;
}